/*
 colori: se scegli un colore di riferimento e tagli gli altri, puoi mappare il colore scelto fino all'opposto tra 0 e 1 (per dviergent color scale)
*/

.wrapper {
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
   grid-gap: 10px;
 }

 .title {
 	border-radius: 5px;
 	grid-column: 1 / 13;
 	grid-row: 1;
 	background-color: #AA3939;
 }

.main {
	border-radius: 5px;
  grid-column: col-start 3 / span 8;
  background-color: #FDFDFD;
  grid-row: 6/2;
}

.svg-container{
	display:block;
	margin:auto;
}

.left-box-1 {
  height: 100px;
	border-radius: 5px;
	grid-column: col-start 1/ span 2;
	grid-row: 3/2 ;
	background-color: #AA3939;
}

.left-box-2 {
    height: 100px;
  border-radius: 5px;
  grid-column: col-start 1/ span 2;
  grid-row: 4/3 ;
  background-color: #AA3939;
}

body {
 background-color: #808D8D;
}

div.tooltip {	
    position: absolute;			
    text-align: center;			
    width: 60px;					
    height: 36px;					
    padding: 2px;				
    font: 12px sans-serif;		
    background: lightsteelblue;	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;			
}

/*
.svg-container { 
	width: 100%;
	height: 600px; 
}
*/